<p>Dear <%= Name %>,</p>
<br/>
<p>HELP!!
A person needs help of yours urgent! Please open "helpid" to know the location of that person.
  You can also use this application for future use, for your own family members





Thankyou
Team - Helpid
</p>



